
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
integrity_download?/**
.terraform/**
.ipynb_checkpoints/**
de_zoom_camp_old/**
**/data_pgadmin/**
**/ny_taxi_postgres_data/**
*.hcl
*.backup
*.tfstate
*.exe
*.csv
*.xml
*.pyc
*.json
*.txt
.env
*.parquet
*.csv
*.csv.gz
**/*solution.md
